<div class="header">
    <div class="container">
        <div class="pull-left">
            <div class="logo" ng-click="toggleSidebar()">
                <img class="hidden-mobile" src="assets/img/logo_small.png" alt="Locent Logo">
                <span class="visible-mobile"><i class="fa fa-bars"></i></span>
                <img class="visible-mobile" src="assets/img/logo_small_xs.png" alt="Locent Logo">
            </div>
        </div>
        <div class="pull-right">
            <div class="logged-in">
                <div uib-dropdown class="dropdown">
                    <a class="dropdown-toggle clear" id="user-settings" uib-dropdown-toggle>
                        <span class="thumb-sm avatar pull-right m-l-sm"><img src="assets/img/avatar.png" alt="{{currentSession.user.firstname}} {{currentSession.user.lastname}}">
                        </span>
                        <span class="hidden-sm hidden-md">{{currentSession.user.firstname}} {{currentSession.user.lastname}}</span> <b class="caret"></b>
                    </a>
                    <ul class="uib-dropdown-menu arrow-dk" aria-labelledby="user-settings">
                        <li class="wrapper b-b m-b-sm bg-light m-t-n-xs">
                            <span class="text-truncate">{{currentSession.user.email}}</span>
                        </li>
                        <li>
                            <a ui-sref="app.settings">Settings</a>
                        </li>
                        <li>
                            <hr class="m-n">
                            <a ng-click="logout()">Sign Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navigation b-t b-b">
    <ul class="container font-futura">
        <li class="sidebar-logo visible-mobile">
            <img src="assets/img/logo_small.png" alt="Locent Logo">
        </li>
        <li ui-sref-active="active">
            <a ui-sref="app.dashboard">
                <i class="glyphicon glyphicon-dashboard icon m-r-sm"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="app.campaigns">
                <i class="fa fa-inbox m-r-sm"></i>
                <span>Campaigns</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="app.keyword">
                <i class="glyphicon glyphicon-stats icon m-r-sm"></i>
                <span>Keyword</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="app.clearcart">
                <i class="glyphicon glyphicon-stats icon m-r-sm"></i>
                <span>Clearcart</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="app.safetext">
                <i class="glyphicon glyphicon-stats icon m-r-sm"></i>
                <span>Safetext</span>
            </a>
        </li>
    </ul>
</div>
<div class="content-wrap">
    <div class="container fade-in-up no-padder-xs" ui-view></div>
</div>
