<div class="wrapper-md">
      <div class="tabs col-md-2 m-t-md">
         <ul class="wrapper-lg font-futura">
           <li class="m-b-sm" ng-repeat="tab in tabs"
               ng-class="{active:isActiveTab(tab.url)}"
               ng-click="onClickTab(tab)">{{tab.title}}
            </li>
        </ul>
      </div>

        <div id="mainView">
            <div ng-include="currentTab"></div>
        </div>

        <script type="text/ng-template" id="one.tpl.html">
            <div class="col-md-10">
              <div class="col-md-12">
                  <div class="panel wrapper">
                     <div class="col-md-12">
                         <span class="col-md-4 m-l-n">
                               <select name="account" class="form-control m-b">
                                  <option value="option 1">Messages sent</option>
                                  <option value="option 2">Conversion Rate</option>
                                  <option value="option 3">Revenue</option>
                                  <option value="option 4">Orders Placed</option>
                               </select>
                        </span>
                        <span class="col-md-2 pull-right">
                              <select name="account" class="form-control m-b">
                                 <option value="option 1">Today</option>
                                 <option value="option 2">Yesterday</option>
                                 <option value="option 3">Last week</option>
                                 <option value="option 4">Last month</option>
                                 <option value="option 4">Last 3 months</option>
                                 <option value="option 4">Last 6 months</option>
                              </select>
                       </span>
                       <span class="col-md-2 pull-right">
                             <select name="account" class="form-control m-b  ">
                                <option value="option 1">Hourly</option>
                                <option value="option 2">Daily</option>
                                <option value="option 3">Weekly</option>
                                <option value="option 4">Monthly</option>
                             </select>
                      </span>
                  </div>
                      <hr>
                      <div class="chart-wrapper m-b-md">
                          <div class="no-data">No data available</div>
                          <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="graphOptions">
                          </canvas>
                      </div>
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="panel clearfix">
                      <div class="col-md-12">
                          <div class="row wrapper-lg">
                              <div class="col-md-3">
                                  <h4 class="m-n">Messages Sent <small class="text-success m-l-sm"><i class="fa fa-caret-up"></i> +3.24%</small></h4>
                                  <h2 class="m-t-xs">15,332</h2>
                              </div>
                              <div class="col-md-3">
                                  <h4 class="m-n">Conversion Rate<small class="text-success m-l-sm"><i class="fa fa-caret-up"></i> +0.33%</small></h4>
                                  <h2 class="m-t-xs">6.8%</h2>
                              </div>

                              <div class="col-md-3">
                                  <h4 class="m-n">Revenue<small class="text-danger m-l-sm"><i class="fa fa-caret-down"></i> -0.12%</small></h4>
                                  <h2 class="m-t-xs">$240,066</h2>
                              </div>
                              <div class="col-md-3">
                                  <h4 class="m-n">Orders Placed<small class="text-success m-l-sm"><i class="fa fa-caret-up"></i> -0.12%</small></h4>
                                  <h2 class="m-t-xs">6,233</h2>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </script>
        <script type="text/ng-template" id="two.tpl.html">
              <div class="col-md-9">
                 <div class="panel clearfix">
                     <ul class="list-group">
                        <li class="list-group-item">Opt-in message <small class="grey m-l-sm">Hello Opemipo, the rest of the message goes here.</small></li>
                        <li class="list-group-item">Welcome message <small class="grey m-l-sm">Hello Opemipo, the rest of the message goes here.</small></li>
                        <li class="list-group-item">Customer refused message <small class="grey m-l-sm">Hello Opemipo, the rest of the message goes here.</small></li>
                        <li class="list-group-item">Specific product to buy <small class="grey m-l-sm">Hello Opemipo, the rest of the message goes here.</small></li>
                        <li class="list-group-item">Invalid keyword <small class="grey m-l-sm">Hello Opemipo, the rest of the message goes here.</small></li>
                        <li class="list-group-item">Confirmation message <small class="grey m-l-sm">Hello Opemipo, the rest of the message goes here.</small></li>
                        <li class="list-group-item">Discounts message <small class="grey m-l-sm">Hello Opemipo, the rest of the message goes here.</small></li>
                     </ul>
                 </div>
             </div>
        </script>
        <script type="text/ng-template" id="three.tpl.html">
              <div class="col-md-9">
                 <div class="panel clearfix">
                     <ul class="list-group">
                        <li class="list-group-item"><i class="glyphicon glyphicon-shopping-cart icon m-r-sm"></i>Matt Clark <small class="pull-right font-sm">12s</small></li>
                        <li class="list-group-item"><i class="glyphicon glyphicon-shopping-cart icon m-r-sm"></i>Richard Ford <small class="pull-right font-sm">1m</small></li>
                        <li class="list-group-item"><i class="glyphicon glyphicon-shopping-cart icon m-r-sm"></i>David Chang <small class="pull-right font-sm">5m</small></li>
                        <li class="list-group-item"><i class="glyphicon glyphicon-shopping-cart icon m-r-sm"></i>Olga Schwartz <small class="pull-right font-sm">7m</small></li>
                        <li class="list-group-item"><i class="glyphicon glyphicon-shopping-cart icon m-r-sm"></i>Jamie Lynch <small class="pull-right font-sm">7m</small></li>
                        <li class="list-group-item"><i class="glyphicon glyphicon-shopping-cart icon m-r-sm"></i>Jean Roberson <small class="pull-right font-sm">10m</small></li>
                        <li class="list-group-item"><i class="glyphicon glyphicon-shopping-cart icon m-r-sm"></i>Richard Ford <small class="pull-right font-sm">11m</small></li>
                     </ul>
                 </div>
             </div>
        </script>
</div>
